@import "tailwindcss";

@theme {
  --color-primary: #196ee6;
  --color-primary-dark: #0d47a1;
  --color-accent: #fbc02d;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;
  --font-display: "Work Sans", sans-serif;
}

.btn {
  @apply items-center inline-flex space-x-3 px-4 py-2 bg-violet-500 text-white rounded cursor-pointer hover:bg-violet-600;
}

.link {
  @apply items-center inline-flex text-violet-600 underline cursor-pointer hover:text-violet-800;
}

.input {
  @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-violet-500;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 24px;
}
